html {
}
body {
  color: #111;
  background-color: #eee;
  font-size: 16px;
  line-height: 1.4;
  font-family: "helvetica neue", sans-serif;
  padding: 0;
  margin: 0;
}
/*footer {
  position: absolute;
  bottom: 0;
}
*/
.container {
  grid-gap: 20px;
  padding: 20px;
  margin: auto;
  overflow: hidden;
  background-color: #fff;
}
@media screen and (min-width: 540px) {
  .container {
    width: 460px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 996px) {
  .container {
    display: grid;
    grid-template-columns: auto 300px;
    max-width: 1000px;
  }
}
#top,
#bottom {
  grid-column-start: 1;
  grid-column-end: 3;
}

#top,
#bottom,
#west,
#east {
  background-color: #f6f6f6;
}
.ad,
header {
  background-color: white;
  margin: auto;
  display: flex;
  align-items: center;
}
.ad span,
header span {
  display: block;
  width: 100%;
  text-align: center;
  color: #eee;
}
header {
  height: 100px;
}
header span {
  font-weight: bold;
  font-size: 36px;
  color: green;
}
.ad {
  background-color: #476dff;
}
.medrect {
  width: 300px;
  height: 250px;
}
.leaderboard {
  max-width: 728px;
  height: 90px;
}
